div{
    background-color:gray;
    height: 300px;
    width: 100px;
}
div1{
    height: 300px;
    width: 100px;
background-image: url('Tulips.jpg');
}
div2{
    position: absolute;
    left: 0px;
    top: 600px;
}